Documents/EDO/v1_11/accepted.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
    targetNamespace="uz:rwc:document:accepted:1.11"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    xmlns:tns="uz:rwc:document:accepted:1.11"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:common="uz:rwc:document:common:1.11"
    xmlns:accepted="uz:rwc:document:accepted:1.11"
    xmlns:project="uz:rwc:document:project:1.11"
>
  <xs:import namespace="uz:rwc:document:common:1.11" />
  <xs:import namespace="uz:rwc:document:project:1.11" />

  <xs:element name='changes'>
     <xs:complexType>
       <xs:choice maxOccurs='unbounded'>
         <xs:element name='insert' type="accepted:insertions" minOccurs='0' />
         <xs:element name='update' type="accepted:changes" minOccurs='0' />
         <xs:element name='delete' type="accepted:deletions" minOccurs='0' />
       </xs:choice>
     </xs:complexType>
  </xs:element>
  <!-- deletions -->
  <xs:complexType name='deletions'>
    <xs:complexContent >
      <xs:extension base='common:changes'>
        <xs:choice minOccurs='0' >
          <xs:element name='OTPR'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='accepted:base-consignment'>
                  <xs:attribute name='country_nazn' type='common:N_3' use='optional'/>
                  <xs:attribute name='country_otpr' type='common:N_3' use='optional'/>
                  <xs:attribute name='kod_doc' type='common:N_3' use='optional'/>
                  <xs:attribute name='loader' type='common:LoaderKind' use='optional'/>
                  <xs:attribute name='rab_esr' type='common:N_2' use='optional'/>
                  <xs:attribute name='speed' type='common:SpeedKind' use='optional'/>
                  <xs:attribute name='type_pay' type='common:PayKind' use='optional'/>
                  <xs:attribute name='vid' type='common:ConsignmentCategory' use='optional'/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='CARRIER' type='common:carrier'/>
          <xs:element name='CIM_INFO' type='common:cim-info'/>
          <xs:element name='CLIENT'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='accepted:base-client'>
                  <xs:attribute name='carrier_kod' type='common:N_4' use='optional'/>
                  <xs:attribute name='carrier_name' type='common:C_50' use='optional'/>
                  <xs:attribute name='kod' type='common:ClientCode4' use='optional'/>
                  <xs:attribute name='name' type='common:C_300' use='optional'/>
                  <xs:attribute name='type' type='common:ClientKind' use='optional'/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='CLIENT_LOC'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:client-loc'>
                  <xs:attribute name='lang' type='common:CimLang' use='optional'/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='COM_COND' type='common:com-cond'/>
          <xs:element name='CONT'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='accepted:base-container'/>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='COLLECT_K'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:collect'>
                  <xs:attribute name='kod_etsng' type='common:EtsngCode' use='optional'/>
                  <xs:attribute name='name_etsng' type='common:C_800' use='optional'/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='PAC' type='common:pac'/>
          <xs:element name='FRONTIER_MARK' type='common:frontier-mark'/>
          <xs:element name='PASS_MARK' type='common:pass-mark'/>
          <xs:element name='PAY' type='common:consignment-pay'/>
          <xs:element name='PAY_K' type='common:pay'/>
          <xs:element name='PAY_V' type='common:pay'/>
          <xs:element name='PEREADR_INFO' type='common:pereadr_info' />
          <xs:element name='REFUSE_EPD' type='common:refuse_epd' />
          <xs:element name='REISSUE_INFO' type='common:reissue_info' />
          <xs:element name='ROUTE' >
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:base-route-for-changes' />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='ROUTE_LOC' type='common:route-loc-for-changes' />
          <xs:element name='ZPU_K' type='common:zpu'/>
          <xs:element name='JOINT'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:base-joint'/>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='JOINT_LOC'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:joint-loc-for-changes' />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='OTPRDP'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:base-dp'/>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='PL'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='accepted:payer'/>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='PL_LOC'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:pl-loc'>
                  <xs:attribute name='lang' type='common:CimLang' use='optional'/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='RW_STAT' type='common:rw-stat'/>
          <xs:element name='COLLECT_V'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:collect'>
                  <xs:attribute name='kod_etsng' type='common:EtsngCode' use='optional'/>
                  <xs:attribute name='name_etsng' type='common:C_800' use='optional'/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='PEREGR_V' type='common:peregr'/>
          <xs:element name='TOOLS' type='common:tools'/>
          <xs:element name='ZPU_V' type='common:zpu'/>
          <xs:element name='SCHEMA' type='common:schema'/>
          <xs:element name='SENDER_DOC' type='common:sender_doc-info' />
          <xs:element name='SEND_STAT' type='common:send-stat'/>
          <xs:element name='SHTEMPEL' type='common:shtempel-info'/>
          <xs:element name='SPEC_COND' type='common:spec-cond'/>
          <xs:element name='TAKS' type='common:taks'/>
          <xs:element name='TEXT' type='accepted:text'/>
          <xs:element name='VAGON'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='accepted:base-wagon'/>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- end of deletions -->

  <!-- changes begin -->
  <xs:complexType name='changes'>
    <xs:complexContent >
      <xs:extension base='common:changes'>
        <xs:choice >
          <xs:element name='OTPR'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='accepted:base-consignment'>
                  <xs:attribute name='cargo_recipient_position' type='common:C_120' use='optional'/>
                  <xs:attribute name='cargo_recipient_date' type='common:DateTime' use='optional'/>
                  <xs:attribute name='country_nazn' type='common:N_3' use='optional'/>
                  <xs:attribute name='country_otpr' type='common:N_3' use='optional'/>
                  <xs:attribute name='kod_doc' type='common:N_3' use='optional'/>
                  <xs:attribute name='loader' type='common:LoaderKind' use='optional'/>
                  <xs:attribute name='rab_esr' type='common:N_2' use='optional'/>
                  <xs:attribute name='speed' type='common:SpeedKind' use='optional'/>
                  <xs:attribute name='type_pay' type='common:PayKind' use='optional'/>
                  <xs:attribute name='vid' type='common:ConsignmentCategory' use='optional'/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='CARRIER' type='common:carrier'/>
          <xs:element name='CIM_INFO' type='common:cim-info'/>
          <xs:element name='CLIENT'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='accepted:base-client'>
                  <xs:attribute name='kod' type='common:ClientCode4' use='optional'/>
                  <xs:attribute name='name' type='common:C_300' use='optional'/>
                  <xs:attribute name='type' type='common:ClientKind' use='optional'/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='CLIENT_LOC'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:client-loc'>
                  <xs:attribute name='lang' type='common:CimLang' use='optional'/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='COM_COND' type='common:com-cond'/>
          <xs:element name='CONT'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='accepted:base-container'/>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='COLLECT_K'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:collect'>
                  <xs:attribute name='kod_etsng' type='common:EtsngCode' use='optional'/>
                  <xs:attribute name='name_etsng' type='common:C_800' use='optional'/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='PAC' type='common:pac'/>
          <xs:element name='FRONTIER_MARK' type='common:frontier-mark'/>
          <xs:element name='PASS_MARK' type='common:pass-mark'/>
          <xs:element name='PAY' type='common:consignment-pay'/>
          <xs:element name='PAY_K' type='common:pay'/>
          <xs:element name='PAY_V' type='common:pay'/>
          <xs:element name='PEREADR_INFO' type='common:pereadr_info' />
          <xs:element name='REFUSE_EPD' type='common:refuse_epd' />
          <xs:element name='REISSUE_INFO' type='common:reissue_info' />

          <xs:element name='ROUTE' >
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:base-route-for-changes' />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='ROUTE_LOC' type='common:route-loc-for-changes' />

          <xs:element name='ZPU_K' type='common:zpu'/>
          <xs:element name='JOINT'>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base='common:base-joint' />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='JOINT_LOC'>
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base='common:joint-loc-for-changes' />
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='OTPRDP'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:base-dp'/>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='PL'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='accepted:base-payer'/>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='PL_LOC'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:pl-loc'>
                  <xs:attribute name='lang' type='common:CimLang' use='optional'/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='RW_STAT' type='common:rw-stat'/>
          <xs:element name='COLLECT_V'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='common:collect'>
                  <xs:attribute name='kod_etsng' type='common:EtsngCode' use='optional'/>
                  <xs:attribute name='name_etsng' type='common:C_800' use='optional'/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name='PEREGR_V' type='common:peregr'/>
          <xs:element name='TOOLS' type='common:tools'/>
          <xs:element name='ZPU_V' type='common:zpu'/>
          <xs:element name='SCHEMA' type='common:schema'/>
          <xs:element name='SENDER_DOC' type='common:sender_doc-info' />
          <xs:element name='SEND_STAT' type='common:send-stat'/>
          <xs:element name='SHTEMPEL' type='common:shtempel-info'/>
          <xs:element name='SPEC_COND' type='common:spec-cond'/>
          <xs:element name='TAKS' type='common:taks'/>
          <xs:element name='TEXT' type='accepted:text'/>
          <xs:element name='VAGON'>
            <xs:complexType >
              <xs:complexContent >
                <xs:extension base='accepted:base-wagon'/>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>

        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='insertions'>
    <xs:complexContent >
      <xs:extension base='common:changes'>
        <xs:choice >
          <xs:element name='CARRIER' type='common:carrier'/>
          <xs:element name='CIM_INFO' type='common:cim-info'/>
          <xs:element name='CLIENT' type='accepted:client'/>
          <xs:element name='CLIENT_LOC' type='common:client-loc'/>
          <xs:element name='COM_COND' type='common:com-cond'/>
          <xs:element name='CONT' type='accepted:container'/>
          <xs:element name='COLLECT_K' type='common:collect'/>
          <xs:element name='ZPU_K' type='common:zpu'/>
          <xs:element name='JOINT' type='accepted:joint'/>
          <xs:element name='JOINT_LOC' type='common:joint-loc'/>
          <xs:element name='OTPRDP' type='common:dp'/>
          <xs:element name='OTPRDP_LOC' type='common:dp-loc' />
          <xs:element name='PAC' type='common:pac'/>
          <xs:element name='FRONTIER_MARK' type='common:frontier-mark'/>
          <xs:element name='PASS_MARK' type='common:pass-mark'/>          
          <xs:element name='PAY' type='common:consignment-pay'/>
          <xs:element name='PAY_K' type='common:pay'/>
          <xs:element name='PAY_V' type='common:pay'/>
          <xs:element name='PL' type='accepted:payer'/>
          <xs:element name='PL_LOC' type='common:pl-loc'/>
          <xs:element name='RW_STAT' type='common:rw-stat'/>
          <xs:element name='COLLECT_V' type='common:collect'/>
          <xs:element name='PEREADR_INFO' type='common:pereadr_info' />
          <xs:element name='PEREGR_V' type='common:peregr'/>
          <xs:element name='REFUSE_EPD' type='common:refuse_epd' />
          <xs:element name='REISSUE_INFO' type='common:reissue_info' />
          <xs:element name='ROUTE' type='accepted:route' />
          <xs:element name='ROUTE_LOC' type='common:route-loc' />
          <xs:element name='TOOLS' type='common:tools'/>
          <xs:element name='ZPU_V' type='common:zpu'/>
          <xs:element name='SCHEMA' type='common:schema'/>
          <xs:element name='SENDER_DOC' type='common:sender_doc-info' />
          <xs:element name='SEND_STAT' type='common:send-stat'/>
          <xs:element name='SHTEMPEL' type='common:shtempel-info'/>
          <xs:element name='SPEC_COND' type='common:spec-cond'/>
          <xs:element name='TAKS' type='common:taks'/>
          <xs:element name='TEXT' type='accepted:text'/>
          <xs:element name='VAGON' type='accepted:wagon'/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- changes end -->
  <xs:element name="OTPR" type="accepted:consignment">
  </xs:element>
  <xs:complexType name="consignment">
    <xs:complexContent>
      <xs:extension base="accepted:base-consignment">
        <xs:sequence >
          <xs:element name='CARRIER' type='common:carrier' minOccurs='0'  maxOccurs='unbounded' />
          <xs:element name='CIM_INFO' type='common:cim-info' minOccurs='0' />
          <xs:element name='CLIENT' type='accepted:client' minOccurs='2' maxOccurs='2'/>
          <xs:element name='COM_COND' type='common:com-cond' minOccurs='0' maxOccurs='unbounded'/>
          <xs:element name='CONT' type='accepted:container' minOccurs='0' maxOccurs='unbounded' />
          <xs:element name='OTPRDP' type='common:dp' minOccurs='0' maxOccurs='1' />
          <xs:element name='PAC' type='common:pac' minOccurs='0' />
          <xs:element name='FRONTIER_MARK' type='common:frontier-mark' minOccurs='0' maxOccurs='unbounded' />
          <xs:element name='PASS_MARK' type='common:pass-mark' minOccurs='0' maxOccurs='unbounded' />
          <xs:element name='PL' type='accepted:payer' minOccurs='0' maxOccurs='unbounded' />
          <xs:element name='REFUSE_EPD' type='common:refuse_epd' minOccurs='0' maxOccurs='1' />
          <xs:element name='REISSUE_INFO' type='common:reissue_info' minOccurs='0' maxOccurs='1' />
          <xs:element name='ROUTE' type='accepted:route' minOccurs='1' maxOccurs='unbounded' />
          <xs:element name='RW_STAT' type='common:rw-stat' minOccurs='0' maxOccurs='unbounded'/>
          <xs:element name='SCHEMA' type='common:schema' minOccurs='0' maxOccurs='10' />
          <xs:element name='SENDER_DOC' type='common:sender_doc-info' minOccurs='0' maxOccurs='unbounded'/>
          <xs:element name='SEND_STAT' type='common:send-stat' minOccurs='0' maxOccurs='unbounded'/>
          <xs:element name='SHTEMPEL' type='common:shtempel-info' minOccurs='0' maxOccurs='unbounded'/>
          <xs:element name='SPEC_COND' type='common:spec-cond' minOccurs='0' maxOccurs='unbounded'/>
          <xs:element name='TAKS' type='common:taks' minOccurs='0' maxOccurs='unbounded'/>
          <xs:element name='TEXT' type='accepted:text' minOccurs='0' />
          <xs:element name='VAGON' type='accepted:wagon' minOccurs='0' maxOccurs='120' />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='base-consignment'>
    <xs:attributeGroup ref='project:consignment-attributes' />
    <xs:attributeGroup ref='accepted:consignment-attributes' />
  </xs:complexType>
  <xs:attributeGroup name='consignment-attributes'>
    <!--    Здесь этот атрибут становится обязательным, но вот как это объявить в схеме ?
    <xs:attribute name='nom_doc' use='required' type='common:N_8' >
      <xs:annotation>
        <xs:documentation>Номер документу </xs:documentation>
      </xs:annotation>
    </xs:attribute>
-->
    <xs:attribute name='date_otpr' type='common:DateTime' >
      <xs:annotation>
        <xs:documentation>Дата відправлення вантажу або ввозу на УЗ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='distance_way' type='common:N_5' >
      <xs:annotation>
        <xs:documentation>Відстань від станції відправлення до станції призначення по УЗ</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='pr_distance' type='common:DistanceKind' >
      <xs:annotation>
        <xs:documentation>Ознака виставлення відстані  </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='osum' type='common:N_13' >
      <xs:annotation>
        <xs:documentation>Сума по відправленню </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='sum_deliv' type='common:N_13' >
      <xs:annotation>
        <xs:documentation>Сума по прибуттю</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='sum_pereb' type='common:N_13' >
      <xs:annotation>
        <xs:documentation>Сума перебору</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name='base-text'>
    <xs:complexContent>
      <xs:extension base='common:text'>
        <xs:attributeGroup ref='accepted:text-attributes' />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='text'>
    <xs:complexContent>
      <xs:extension base='accepted:base-text'>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:attributeGroup name='text-attributes'>
    <xs:attribute name='carload_agent_name' type='common:C_120' >
      <xs:annotation>
        <xs:documentation>Представитель вагонной службы </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='name_gng' type='common:C_800' >
      <xs:annotation>
        <xs:documentation>Найменування вантажу по ГНВ </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='rw_note' type='common:C_800' >
      <xs:annotation>
        <xs:documentation>Відмітки залізниці </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='without_client' type='common:N_1' >
      <xs:annotation>
        <xs:documentation>Признак без зазначення клієнта</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='delivery_receipt' type='common:C_300' >
      <xs:annotation>
        <xs:documentation>Расписка о получении</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='prescript' type='common:C_50' >
      <xs:annotation>
        <xs:documentation>Розпорядження №</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='prescript_date' type='common:DateTime' >
      <xs:annotation>
        <xs:documentation>Дата розпорядження</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='rw_mark' type='common:C_800' >
      <xs:annotation>
        <xs:documentation>Марка залізниці</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='doc_grot' type='common:C_800' >
      <xs:annotation>
        <xs:documentation>Документи, прикладені вантажовідправником (заповнюється касиром, при створенні нового документа. Якщо документ створює вантажовідправник, то прикладені документи вказуються у тезі SENDER_DOC)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name='name_tov' type='common:C_60' >
      <xs:annotation>
        <xs:documentation>Призвище товарного кассиру, який оформив документ по відправленню </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name='base-payer'>
    <xs:attributeGroup ref='common:payer-attributes' />
  </xs:complexType>
  <xs:complexType name='payer'>
    <xs:complexContent>
      <xs:extension base='accepted:base-payer'>
        <xs:sequence >
          <xs:element name='PAY' type='common:consignment-pay' minOccurs='0' maxOccurs='unbounded' />
          <xs:element name='PL_LOC' type='common:pl-loc' minOccurs='0' maxOccurs='2' />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='base-client'>
    <xs:attributeGroup ref='common:client-info' />
  </xs:complexType>
  <xs:complexType name='client'>
    <xs:complexContent>
      <xs:extension base='accepted:base-client'>
        <xs:sequence >
          <xs:element name='CLIENT_LOC' type='common:client-loc' minOccurs='0' maxOccurs='2' />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='joint'>
    <xs:complexContent>
      <xs:extension base='common:base-joint'>
        <xs:sequence >
          <xs:element name='JOINT_LOC' type='common:joint-loc' minOccurs='0' maxOccurs='1' />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='route'>
    <xs:complexContent>
      <xs:extension base='common:base-route'>
        <xs:sequence>
         <xs:element name='JOINT' type='accepted:joint' minOccurs='0' maxOccurs='100' />
         <xs:element name='PEREADR_INFO' type='common:pereadr_info' minOccurs='0' maxOccurs='1' />
         <xs:element name='ROUTE_LOC' type='common:route-loc' minOccurs='0' maxOccurs='1' />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:attributeGroup name='wagon-attributes' >
    <xs:attributeGroup ref='common:wagon-attributes' />
    <xs:attribute name='calc_weight' type='common:N_6' use='optional' >
      <xs:annotation>
        <xs:documentation>Розрахункова вага вантажу (кг)</xs:documentation>
      </xs:annotation>
    </xs:attribute>    
  </xs:attributeGroup >
  
  <xs:complexType name='base-wagon'>
    <xs:attributeGroup ref='accepted:wagon-attributes' />
  </xs:complexType>
  
  <xs:complexType name='wagon'>
    <xs:complexContent>
      <xs:extension base='accepted:base-wagon'>
        <xs:sequence  >
          <xs:element name='COLLECT_V' type='common:collect' minOccurs='0' maxOccurs='99' />
          <xs:element name='PAY_V' type='common:pay' minOccurs='0' maxOccurs='unbounded' />
          <xs:element name='PEREGR_V' type='common:peregr' minOccurs='0' />
          <xs:element name='TOOLS' type='common:tools'  minOccurs='0' maxOccurs='unbounded' />
          <xs:element name='ZPU_V' type='common:zpu' minOccurs='0' maxOccurs='60'/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='base-container'>
    <xs:attributeGroup ref='common:container-attributes' />
  </xs:complexType>

  <xs:complexType name='container'>
    <xs:complexContent>
      <xs:extension base='accepted:base-container'>
        <xs:sequence >
          <xs:element name='COLLECT_K' type='common:collect' />
          <xs:element name='PAY_K' type='common:pay' maxOccurs='unbounded' />
          <xs:element name='ZPU_K' type='common:zpu' minOccurs='0' maxOccurs='60' />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>